.album_art {
	margin-top: 0px;
	width: 80px;
	height: auto;
	
	
}

body {
	font-family: helvetica;
	font-size: .8em;
	
	background-image: url('../img/backgroundDimmer.png');
	
}

a:hover {
	cursor: pointer;
}

.head {
	font-weight: bold;
	font-size: 1.3em;
	margin-bottom: ;
	text-align: center;
	padding: 5px;
}

.head:hover {
	background-color: none;
}

.op {
	width: 20%;
	margin-top: 0 ;
	text-align: center;
	padding: none;
}

.review_anchor {
	text-decoration: none;
	color: black;
	width: 100%;
	height: 100%;
	/*width: 100%;
	margin-top: -100px;*/
	
	
}

#cmts td {
	height: 100%;
	width: 50px;
	border: none;
	font-size: .8em;
}

.cmt-head {
	font-weight: bold;
	font-size: ;
}

.review {
	width: 300px;
}

.trash {
	width: 35px;
	margin-top: 5px;
	height: auto;
	margin: 0 auto;
	display: inline;
}

.edit {
	width: 25px;
	margin-bottom: 4px;
	height: auto;
	display: inline;
}

.wrapper {
	width: 1080px;
	height: auto;
	margin: 0 auto;
	margin-top: 0px;
	
	background-color: #d4d6d8;
	box-shadow: -80px 0 100px 0px rgba(0,0,0,.55), 80px 0 75px 0px rgba(0,0,0,.55);
	
}

.error {
	margin-left: 20px;
	font-weight: bold;
	text-align: justify;
	color: #c91e1e;
}

.header {
	color: #b3b5b7;
}

td {
	background-color: none;
	
	border: 1px solid black;
	height: 100px;
	padding: 5px;
	margin-top: -100px;



}



table {
	
	width: 1080px;
	background-color: #d4d6d8;
	
}

form {
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 100px;
	width: 350px;
	background-color: #d4d6d8;
	padding: 20px;
	
	
}


#submit {
	width: 50px;

}